<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "org.unidescription.hagermanfossilbedsnationalmonument"
	version 	= "1.0.0">

	<name>Hagerman Fossil Beds National Monument</name>

	<description>
		Audio Description for the Hagerman Fossil Beds National Monument brochure. This text and its audio files provide the content of the words and images in the brochure entirely as text. This aims to help people who are blind, low-vision, or learn better through audio.  
	</description>

	<author href="http://www.unidescription.org"
		email="brett.oppegaard@gmail.com">
		Brett Oppegaard
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="ios" />
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />

    <gap:splash src="default.png" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
