<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "org.unidescription.dpinnaclesnationalpark"
	version 	= "1.0.0">

	<name>5_D_Pinnacles National Park</name>

	<description>
		This is the audio-described translation of the official print brochure that Pinnacles National Park visitors receive.  This version includes all of the text from the original brochure and provides interpretive audio description of all images.
	</description>

	<author href="http://www.unidescription.org"
		email="tuyhayes@hawaii.edu">
		Tuyet Hayes
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="ios" />
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />

    <gap:splash src="default.png" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
