<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "org.unidescription.flightnationalmemorial"
	version 	= "1.0.0">

	<name>Flight 93 National Memorial</name>

	<description>
		
	</description>

	<author href="http://www.unidescription.org"
		email="brett.oppegaard@gmail.com">
		Brett Oppegaard
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="ios" />
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />

    <gap:splash src="default.png" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
